<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <title>My Website - About</title> 
</head> 
<body> 
    <h1>Jahi Bennett</h1> 
    <p>As you may already now, my name is Jahi Bennett. I am currently a Computer Science Major at the University of the West Indies. 
        I grew up in two different parishes: Kingston and St. Catherine with both my parents and grandparents. During my childhood, 
        I attended Vaz Preparatory School where I picked up on the beginner level of social skills which further helped in my progression 
        to high school. This said high school being the prestigious Wolmers' Boys School which further inspired me to pursue my dreams of 
        being a successful person in cybersecurity. Leading me to pursue my major at the University of the West Indies. I have a plan to 
        successfully start my own business that aligns itself with my ideal future job.</p> 
</body> 
</html>